.profile-body{
    padding-left: 9%;
    padding-right: 9%;
    max-width: 100%;
    position: relative;
    top: -30px
}
.profile-header{
    max-width: 100%;
}
.profile-header-image{
    width: 100%;
    height: auto;
    height: 300px;
}