@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 21px;
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 4%;
  margin-top: 60px;
}
.gridContainer img {
  max-width: 100%;
}
.button {
  border-radius: 50px;
  background: #6c63ff;
  white-space: nowrap;
  padding: 13px 28px;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.button:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
.gridContainer .bold-header-text {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 480px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-gap: 45px;
  }
  .gridContainer .bold-header-text {
    font-size: 38px;
  }
}
